<html>
<head>
  <style>
   body {
     width: 60%
   }
   #form {
      display: flex;
      flex-direction: column;
      gap: 10px;
   }
   #form div {
     display: flex;
     flex-direction: column;
     justify-content: center;
     gap: 5px;
   }
   #form div input {
     flex-grow: 1;
   }
   #form div label {
     font-weight: 600;
   }
   b{
     color: blue;
   }
   button {
     color: white;
     height: 35px;
     background-color: blue;
   }
   @media only screen and (max-width: 600px) {
      body {
        width: 100%
      }
   }
  </style>
</head>
<body> 
   <h2>Password Change Form for user with email <b>{{.User.Email}}<b></h2>
   <form id="form">
     <div>
     <label for="password">Password</label>
     <input type="password" id="password" name="password" placeholder="Enter your password here" />
     </div>
     <div>
     <label for="confirmPassword">Confirm Password</label>
     <input type="password" id="confirmPassword" name="confirmPassword" placeholder="Confirm your password here" />
     </div>
     <button type="submit">Change Password</button>
   </form>
   <section id="response"></section>
   <script> 
      const form = document.getElementById("form")
      const password = document.getElementById("password")
      const confirmPassword = document.getElementById("confirmPassword")
      const notbar = document.getElementById("response")
      form.addEventListener('submit',async (e) => {
        e.preventDefault()
        if (password.value.length === 0){
            alert("Password cannot be empty")
            return
        }
        if (password.value != confirmPassword.value){
            alert("Password and ConfirmPassword don't match")
            return
        }
        const reg = /^(?=.*[A-Za-z])(?=.*\d)(?=.*[@$!%*#?&])[A-Za-z\d@$!%*#?&]{8,}$/
        if (!reg.test(password.value)) {
           alert("Weak Password: Password must include one letter,number and special character")
           return
        }
        try {
          await fetch("http://localhost:4000/changePassword",{
             method: 'POST',
            headers: {
               'Content-Type': 'application/json;charset=utf-8',
                'authorization': 'Bearer ' + {{.Token}}
            },
            body: JSON.stringify({
                password: confirmPassword.value
            })
        })
        form.style.display = "none"
        const p = document.createElement("p")
        p.textContent = "Password Changed Successfully"
        p.style.color = "green"
        notbar.append(p)
        } catch (err) {
        const p = document.createElement("p")
        p.textContent = err.message
        p.style.color = "red"
        notbar.append(p)
        }
      })
   </script>
</body>
</html>